// vars
blue = #28a6e4
blue_lightest = lighten(blue, 75%)
blue_lighter = lighten(blue, 50%)
blue_light = lighten(blue, 25%)
blue_dark  = darken(blue, 25%)
blue_darker  = darken(blue, 50%)
blue_darkest  = darken(blue, 75%)

orange = #fd9b1f
orange_lightest = lighten(orange, 75%)
orange_lighter = lighten(orange, 50%)
orange_light = lighten(orange, 25%)
orange_dark  = darken(orange, 25%)
orange_darker  = darken(orange, 50%)
orange_darkest  = darken(orange, 75%)

green = #95da16
green_lightest = lighten(green, 75%)
green_lighter = lighten(green, 50%)
green_light = lighten(green, 25%)
green_dark  = darken(green, 25%)
green_darker  = darken(green, 50%)
green_darkest  = darken(green, 75%)


grey_light = #BDC8D0

input_style
  color blue
// end vars

// util
.caret.caret-reversed
  border-top-width 0
  border-bottom 4px solid #000000
// end util

body
  margin 0
  padding-top 20px

canvas
  cursor crosshair

input[type=file]
  width 100%


.input-group
  padding-top 10px

.container
  width 768px!important
  margin 0 auto
  // border 1px solid red

#navigator_wrapper
  margin-right 0
  padding-right 0

#form
  margin 0
  padding 0

#imagedata
  @extend input_style
  border-top-right-radius 0
  border-bottom-right-radius 0

#filepath
  @extend input_style

output-height = 50px
#output
  resize none
  height output-height
#output-copy
  padding 0
  margin 0
  button
    padding-top 0
    padding-bottom 0
    height output-height

list_item
  cursor pointer
  padding 3px
list_caret
  &::before
    margin-left -5px
    margin-right 5px
  &:not(.open)::before
    display inline-block
    border-right 7px solid transparent
    border-bottom 7px solid white
    border-left 7px solid transparent
    border-bottom-color white
    content ''
  &.open::before
    display inline-block
    border-right 7px solid transparent
    border-top 7px solid white
    border-left 7px solid transparent
    border-top-color white
    content ''

#list
  height 410px
  overflow-y scroll
  border 1px solid grey_light
  border-radius 4px
  padding-left 0
  padding-right 0
  color white

  .button_wrapper
    clear both
    display inline
  button[type=button]
    float right
    margin 1.5px
    margin-top 6px
  input[type=text]
    width 110px
    border none
    cursor pointer
    display inline-block
    color white
    &:focus
      background white!important
      cursor text

  .sprite
    margin-top 10px
  .sprite:first-of-type
    margin-top 0

  .sprite_header
    @extend list_caret
    @extend list_item
    padding-left: 10px
    background orange
    input[type=text]
      background orange_dark
      &:focus
        color orange_dark
    &.open
      background orange


  .action_header
    @extend list_caret
    @extend list_item
    padding-left: 30px
    background orange_light
    input[type=text]
      background orange_dark
      &:focus
        color orange_dark
    &.open
      background orange_light


  .frame_header
    @extend list_item
    padding-left: 30px
    background orange_lighter
    border-left 20px solid orange_lighter
    img
      background white
    &.selected
      border-left-color green_lighter
      background green_lightest

#add_list
  height 50px
