input_style,
#imagedata,
#filepath {
  color: #28a6e4;
}
.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000;
}
body {
  margin: 0;
  padding-top: 20px;
}
canvas {
  cursor: crosshair;
}
input[type=file] {
  width: 100%;
}
.input-group {
  padding-top: 10px;
}
.container {
  width: 768px !important;
  margin: 0 auto;
}
#navigator_wrapper {
  margin-right: 0;
  padding-right: 0;
}
#form {
  margin: 0;
  padding: 0;
}
#imagedata {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#output {
  resize: none;
  height: 200px;
}
list_item,
#list .sprite_header,
#list .action_header,
#list .frame_header {
  cursor: pointer;
  padding: 3px;
}
list_caret::before,
#list .sprite_header::before,
#list .action_header::before {
  margin-left: -5px;
  margin-right: 5px;
}
list_caret:not(.open)::before,
#list .sprite_header:not(.open)::before,
#list .action_header:not(.open)::before {
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-bottom-color: #fff;
  content: '';
}
list_caret.open::before,
#list .sprite_header.open::before,
#list .action_header.open::before {
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  border-top-color: #fff;
  content: '';
}
#list {
  height: 460px;
  overflow-y: scroll;
  border: 1px solid #bdc8d0;
  border-radius: 4px;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
}
#list .button_wrapper {
  clear: both;
  display: inline;
}
#list button[type=button] {
  float: right;
  margin: 1.5px;
  margin-top: 6px;
}
#list input[type=text] {
  width: 110px;
  border: none;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}
#list input[type=text]:focus {
  background: #fff !important;
  cursor: text;
}
#list .sprite {
  margin-top: 0px;
}
#list .sprite:first-of-type {
  margin-top: 0;
}
#list .sprite_header {
  padding-left: 10px;
  background: #fd9b1f;
}
#list .sprite_header input[type=text] {
  background: #d37702;
}
#list .sprite_header input[type=text]:focus {
  color: #d37702;
}
#list .sprite_header.open {
  background: #fd9b1f;
}
#list .action_header {
  padding-left: 30px;
  background: #feb457;
}
#list .action_header input[type=text] {
  background: #d37702;
}
#list .action_header input[type=text]:focus {
  color: #d37702;
}
#list .action_header.open {
  background: #feb457;
}
#list .action_header img {
  margin: 5px 10px;
}
#list .frame_header {
  padding-left: 40px;
  background: #fecd8f;
}
#list .frame_header.selected {
  background: #e5f9c2;
}
#list .frame_header.selected img {
  margin-left: 20px;
}
#add_list.btn.btn-info {
  height: 40px;
  width: 100%;
  margin: 0;
  margin-top: 0px;
  border-radius: 0 !important;
  border: none;
}
.modal {
  display: block !important;
}
.modal textarea {
  resize: none;
  height: 200px !important;
}
.modal .fixed-width {
  width: 80px;
  display: inline-block;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5) !important;
}
[ngcloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
