input_style,
#imagedata,
#filepath {
  color: #29a4d3;
}
.caret.caret-reversed {
  border-top-width: 0;
  border-bottom: 4px solid #000;
}
body {
  margin: 0;
}
canvas {
  cursor: crosshair;
}
input[type=file] {
  width: 100%;
}
.input-group {
  padding-top: 10px;
}
.container {
  width: 768px !important;
  margin: 0 auto;
}
#navigator_wrapper {
  margin-right: 0;
  padding-right: 0;
}
#form {
  margin: 0;
  padding: 0;
}
#imagedata {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#output {
  resize: none;
  height: 50px;
}
#output-copy {
  padding: 0;
  margin: 0;
}
#output-copy button {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
}
list_item,
#list .sprite,
#list .action,
#list .frame {
  cursor: pointer;
}
list_caret::before,
#list .sprite::before,
#list .action::before {
  margin-left: -5px;
  margin-right: 5px;
}
list_caret:not(.open)::before,
#list .sprite:not(.open)::before,
#list .action:not(.open)::before {
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-bottom-color: #fff;
  content: '';
}
list_caret.open::before,
#list .sprite.open::before,
#list .action.open::before {
  display: inline-block;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-left: 7px solid transparent;
  border-top-color: #fff;
  content: '';
}
#list {
  height: 460px;
  overflow-y: scroll;
  border: 1px solid #bdc8d0;
  border-radius: 4px;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
}
#list .sprite {
  font-size: 1.5em;
  padding-left: 10px;
  background: #5dbbe0;
}
#list .sprite.open {
  background: #29a4d3;
}
#list .action {
  font-size: 1.2em;
  padding-left: 20px;
  background: #e3a34a;
}
#list .action.open {
  background: #c8811f;
}
#list .frame {
  padding-left: 30px;
  background: #8fc118;
}
